<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/4a3a9d18d6.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Roboto&display=swap" rel="stylesheet">
    
    <title>Home Page</title> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="images/logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="profession">Welcome back!</span>
                    <span class="name">Varshaah</span>
                </div>
            </div>

            <!-- <i class='bx bx-chevron-right toggle'></i> -->
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/daily">
                            <i class='bx bx-chart icon'></i>
                            <span class="text nav-text">Daily Intake</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/monthly">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Monthly Report</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Challenges</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-leaf icon'></i>
                            <span class="text nav-text">Diet Plans</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Leaderboard</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <div class="bar">
      <img class="logo" src="images/icon.png" alt="Icon">
      <h1 class="heading">Calorie Clock</h1>
    </div>

    <div class="box1">
        <h3 class="t1">Today's Calorie Intake</h3>
        <h1 class="c1">100 cal</h1>
    </div>
    <div class="box2">
        <h3 class="t1">Today's Protein Intake</h3>
        <h1 class="c2">100 cal</h1>
    </div>
    <div class="box3">
        <h3 class="t3">Today's Junk Intake</h3>
        <h1 class="c3">100 cal</h1>
    </div>

    <h1 class="headingFacts">Fun Facts</h1>

    <div class="imageDivision1">
      <img class="one" src="images/1.png" alt="">
    </div>
    <div class="imageDivision2">
        <img class="one" src="images/2.png" alt="">
      </div>
      <div class="imageDivision3">
        <img class="one" src="images/3.png" alt="">
      </div>

    <!-- <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})
    </script> -->
</body>
</html>
